@charset "utf-8";
/* CSS Document */

.navbar {
  width: 80%;
  background-color: #555;
  overflow: auto;
  margin-left: 10%;
}

/* Navigation links */
.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 20%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Style the current/active link */

.active {
  background-color: #4CAF50;
}

#top_div{
  height:300px;
  width: 80%;
  margin-left: 10%;
  background-color:rgba(200,199,199,0.6);
  }
.faq {
  width: 60%;
  background-color: #555;
  overflow: auto;
  margin-left: 20%;
	height: 40px;

}
/* Add a background color on mouse-over */
.faq:hover {
  background-color:#0964D0;;
}

/* Navigation links */
.faq a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  text-align: center; /* If you want the text to be centered */
	
}


/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
