@charset "utf-8";
/* CSS Document */
#top_div {
	background-color: #03F;
	height: 100px;
	width: 100%;
	font-size: 72px;
	color: #FFF;
	padding-top: 30px;
}
#top_div:hover {
	background-color:#03F;
	height: 100px;
	width: 100%;
	font-size: 72px;
	color: #F00;
	padding-top: 30px;
}

body {
	background-color:#CCCCCC;
	font-size: 24px;
}
#menu_div {
	background-color: #0C3;
	height: 50px;
	width: 100%;
}
#menu_div a input {
	color: #FFF;
	background-color: #666;
	height: 38px;
	width: 120px;
	margin-top: 5px;
	margin-right: 5px;
	border-radius: 20px;
}
#menu_div a input:hover {
	color: #000;
	background-color: #0F9;
}

.footer
{
margin-top:30px;
font-size:20px;
height:19px;
width:95%;
background: rgba(0,0,0,0.3);
color:#000000;
float:left;
padding:8px 2.5%;
position:relative;
bottom:0;
z-index:9999999999;
}